body {
    margin: 0;
    box-sizing: border-box; 
    text-align: center;
    overflow: hidden;
   
    max-width: 100vw;
    image-rendering: pixelated;
    background-color: #7ec4ef;

}

@font-face {                  
font-family: 'AnalogueOS';
src: url(https://humantooth.neocities.org/fonts/AnalogueOS-Regular.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

@font-face {                  
font-family: 'Gothamono';
src: url(https://humantooth.neocities.org/fonts/Gothamonov0.2-Regular.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

@font-face {                  
font-family: 'jgs7';
src: url(https://humantooth.neocities.org/fonts/jgs7.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

.bodycontainer {
width: 100vw;
height: 100vh;
text-align: center;
display: grid;
place-items: center;
z-index: 0;

}

.bgcontainer {
width: 1100px; 
height: 560px;
background-image: url(homebg.png);
background-size: 100%;
display: flex;
justify-content: center;
align-items: center;
z-index: 0;
border: 6px solid black;
position: relative;
}

.headercontainer {

padding: 10px;
text-align: center;
margin: auto;
z-index: 5;
position: absolute;
top: 0;
left: 31%;
}


.header {
font-family: 'AnalogueOS';
font-size: 96px;
color: #fa9202;
text-shadow: -5px 0px black;
}

.menucontainer {
width: 408px;
height: 252px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: absolute;
top: 35.25%;
left: 30%;
gap: 10px;


}

.menu {
padding: 7px 5px;
font-family: 'AnalogueOS';
font-size: 32px;
color: white; 
background-color: #da1c44;
width: 50%;
/**/
box-shadow: 4px 0px black inset;

}

a{
text-decoration: none;
color: white;
}

.menu:hover {
animation: pulse 1s infinite alternate linear;
cursor: pointer;
}


@keyframes pulse {  

    0% {
        transform: scale(1);
        background-color: black;
        
        box-shadow: 4px 0px #da1c44 inset;
    }
    100% {
        transform: scale(1.25);
        background-color: black;
        
        box-shadow: 4px 0px #da1c44 inset;
    }
}

.logocontainer {
width: 408px;
height: 252px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: white;
position: absolute;
top: 35.25%;
left: 30%;

z-index: 2;

}

.logo {

width: 500px;
height: 500px;
background-image: url(img/crunchitlogo.png);
background-size: 100%;
animation: flicker 1s infinite alternate ease-in-out forwards;
transform: translate(-4px, -6px);
cursor: pointer;

}

@keyframes flicker {  

    0% { 
        visibility: visible;
       
    }

    

    80% {
        visibility: visible;
    }

    90% {
        visibility: hidden;
    }
    
  

    100% {
        visibility: hidden;
    }
}


