body {
    margin: 0;
    box-sizing: border-box; 
    text-align: center;
    overflow: hidden;
   
    max-width: 100vw;
    image-rendering: pixelated;
    background-color: #a59dff;

}

@font-face {                  
font-family: 'AnalogueOS';
src: url(https://humantooth.neocities.org/fonts/AnalogueOS-Regular.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

@font-face {                  
font-family: 'Gothamono';
src: url(https://humantooth.neocities.org/fonts/Gothamonov0.2-Regular.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

@font-face {                  
font-family: 'jgs7';
src: url(https://humantooth.neocities.org/fonts/jgs7.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

.bodycontainer {
width: 100vw;
height: 100vh;
text-align: center;
display: grid;
place-items: center;
z-index: 0;

}

.gamecontainer {
width: 1100px; 
height: 560px;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
z-index: 0;
border: 6px solid black;
position: relative;
gap: 40px;
}

a{
text-decoration: none;
color: white;
}

.time {
width: 100px;
height: 100px;
padding: 10px;
padding-bottom: 0;
padding-top: 40px;
font-family: 'AnalogueOS';
font-size: 60px;
position: absolute;
top: 10px;
right: 15px; 
border: 6px solid black;
text-align: center;
}

.gifcontainer {

width: 100vw;
text-align: center;
z-index: 20;
position: absolute;
top: 0;
left: 0;
display: flex;
align-items: center;
justify-content: center;

}

.gif {
width: 100vw;
visibility: hidden;
}

.failcontainer {
width: 100vw;
height: 100vh;
background-color: black;
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
font-family: 'jgs7';
font-size: 18px;
color: white;
visibility: hidden;
}

.gridcontainer {
--size: 4;

width: 487px;
height: 487px;
border: 6px solid black;
display: grid;
grid-template-columns: repeat(var(--size), 1fr);
grid-template-rows: repeat(var(--size), 1fr);
gap: 2px;
padding: 4px;
background-color: #7ec4ef;
}

.grid {

background-color: white;

}

.nogrid {
gap: 0;
padding: 0;
width: 495px;
height: 495px;
}



.grid:hover {
background-color: #fffeab;
}

.grid2 {
background-color: #7ec4ef;
}

.grid2:hover {
background-color: #241d75;
}

input {
border: 0;
outline: 0;
padding: 0;
margin: 0;
}

.navbar {
width: 100px;
height: 455px;
border: 6px solid black;
display: flex;
flex-direction: column;
align-items: center;
padding: 20px 10px;
background-color: #bababa;
gap: 20px;
}

.btn {
border: 4px solid black;
font-family: 'jgs7';
font-size: 18px;
background-color: white;
padding: 6px 10px;
width: 75px;
cursor: pointer;
}

.btn:hover {
background-color: #fffeab;
}

.color {
border: 4px solid black;
width: 75px;
height: 75px;
outline: none;
padding: 0;
}

.color:hover {
background-color: #fffeab;
}

.size {
border: 4px solid black;
width: 67px;
padding: 6px 0px;

font-family: 'jgs7';
font-size: 18px;
text-align: center;
}

.label {
font-family: 'AnalogueOS';
font-size: 18px;
text-align: center;
}

.xo {
border: 4px solid black;
font-family: 'AnalogueOS';
font-size: 54px;
background-color: #26de67;
color: white;
text-shadow: -2px 0px black;
padding: 10px -10px 2px -10px;
width: 75px;
cursor: pointer;
}

.no {

    background-color: #da1c44;
}




