body {
    margin: 0;
    box-sizing: border-box; 
    text-align: center;
    overflow: hidden;
   
    max-width: 100vw;
    image-rendering: pixelated;
    background-color: #fffeab;

}

@font-face {                  
font-family: 'AnalogueOS';
src: url(https://humantooth.neocities.org/fonts/AnalogueOS-Regular.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

@font-face {                  
font-family: 'Gothamono';
src: url(https://humantooth.neocities.org/fonts/Gothamonov0.2-Regular.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

@font-face {                  
font-family: 'jgs7';
src: url(https://humantooth.neocities.org/fonts/jgs7.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

.bodycontainer {
width: 100vw;
height: 100vh;
text-align: center;
display: grid;
place-items: center;
z-index: 0;

}

.gamecontainer {
width: 1100px; 
height: 560px;
background-color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 0;
border: 6px solid black;
position: relative;
background-image: url(../backgrounds/cookiebg.png);
background-size: 100%;
background-position: center;

}

a{
text-decoration: none;
color: white;
}

.time {
width: 100px;
height: 100px;
padding: 10px;
padding-bottom: 0;
padding-top: 40px;
font-family: 'AnalogueOS';
font-size: 60px;
position: absolute;
top: 10px;
right: 15px; 
border: 6px solid black;
text-align: center;
}

.gifcontainer {

width: 100vw;
text-align: center;
z-index: 20;
position: absolute;
top: 0;
left: 0;
display: flex;
align-items: center;
justify-content: center;

}

.gif {
width: 100vw;
visibility: hidden;
}

.failcontainer {
width: 100vw;
height: 100vh;
background-color: black;
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
font-family: 'jgs7';
font-size: 18px;
color: white;
visibility: hidden;
}


.timercontainer {
background-color: white;
border: 6px solid #bababa;
font-family: 'AnalogueOS';
font-size: 144px;
padding: 20px 60px 0px 60px;
width: 400px;

}

.btn{
border: 4px solid #241d75;
font-family: 'jgs7';
font-size: 18px;
padding: 6px 20px;
background-color: #a59dff;
color: black;
}

.start:hover{
background-color: #26de67;
}

.stop:hover{
background-color: #da1c44;
}

.reset:hover{
background-color: #7ec4ef;
}

.buttoncontainer {
display: flex;
flex-direction: row;
gap: 20px;
align-items: center;
justify-content: center;
width: 400px;
}

.clockbody{
background-color: black;
width: 600px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 290px;
gap: 14px;
}

.clocklegs{
background-color: transparent;
width: 380px;
height: 20px;
border-left: 100px solid black;
border-right: 100px solid black;
}

.clocktop{
width: 580px;
background-color: black;
height: 20px;
}
